@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
    url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold Italic'),
    url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Italic'),
    url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
	display: flex;
	width: 940px;
	margin: 0 10px;
}

.primary-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  color: #ffffff;
  background-color: #ff3333;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo,
.footer-logo {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  line-height: 45px;
  background-color: #ee3643;
}

.header-logo:hover,
.footer-logo:hover,
.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}


.header-top-search,
.header-top-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 45px;
  background-color: #293449;
  text-decoration: none;
  border: none;
}

.header-top-btn:hover {
  background-color: #212a3a;
}

.header-top-btn:active,
.header-top-btn:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top-search:focus {
  background-color: #ffffff;
  outline: none;
  color: #000000;
}

.header-btn-order {
  background-color: #63a63e;
}

.header-btn-order:hover {
  background-color: #5fbb2d;
}

.header-btn-order:active {
  background-color: #518534;
}

.header-mid-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #ff3333;
  line-height: 23px;
}

.header-tel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #ff3333;
  background-color: inherit;
  line-height: 40px;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.user-menu-btn,
.user-menu-btn:visited,
.user-profile,
.user-menu-profile {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 45px;
}

.login-enter:hover,
.login-reg:hover,
.login-enter:focus,
.login-reg:focus {
  color: #ee3643;
}

.login-enter:active,
.login-reg:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-adress {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 24px;
}

.user-menu-orders,
.user-menu-control-panel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 18px;
  text-decoration: underline;
}

.user-menu-orders:hover,
.user-menu-orders:focus,
.user-menu-control-panel:hover,
.user-menu-control-panel:focus {
  color: #ee3643;
}

.user-menu-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-nav-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 55px;
}

.main-nav-item {
  background-color: #32425c;
}

.main-nav-item:hover,
.main-nav-item:focus {
  background-color: #293449;
}

.main-nav-item:active a {
  color: rgba(255, 255, 255, 0.5);
}

.categories-item h3 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  line-height: 30px;
}

.categories-item-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-goods-title,
.popular-brands-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-goods-item h3,
.catalog-item-title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 20px;
}

.popular-goods-price,
.catalog-item-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.goods-old-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 18px;
}

.service-headline,
.about-company-title,
.about-contacts-title,
.catalog-name {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.service-title,
.service-slider-description p,
.about-company-description,
.about-contacts-description {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 24px;
}

.service-slider-description span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  text-transform: uppercase;
  line-height: 36px;
}

.partners-list-item {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 20px;
}

.footer-top {
  background-color: #32425c;
}

.footer-nav-item a,
.footer-proposal-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.footer-nav-item a {
  color: #ffffff;
}

.footer-proposal-item a {
  color: #ffcc99;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus,
.footer-proposal-item a:hover,
.footer-proposal-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-proposal-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-copyright,
.footer-mail,
.footer-academy {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  line-height: 18px;
}

.footer-socials a {
  background-color: #000;
}

.footer-socials a:hover,
.footer-socials a:focus,
.footer-socials a:active {
  background-color: #ee3643;
}

.footer-socials-vk {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/icon-vk.svg) no-repeat 100% 0;

}

.footer-mail a,
.footer-academy a {
  color: #ffcc99;
  text-decoration: none;
}

.footer-mail a:hover,
.footer-academy a:hover,
.footer-mail a:focus,
.footer-academy a:focus {
  text-decoration: underline;
}

.footer-mail a:focus,
.footer-academy a:focus {
  text-decoration: none;
  color: #ee3643;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	min-height: 320px;
	flex-direction: column;
	align-items: center;
	background-color: #f3f7f9;
}

.header-top {
	display: flex;
	width: 100%;
	min-height: 45px;
	margin-bottom: 45px;
	justify-content: center;	
	background-color: #293449;
}

.header-logo {
	width: 220px;
	text-align: center;
	box-shadow:  0 5px 0 #b52933;
}

.header-top-search {
	width: 270px;
	padding-left: 10px;
	margin-right: auto;
}

.header-top-btn {
	width: 150px;
}

.header-mid {
	display: flex;
	justify-content: space-between;
	min-height: 70px;
	width: 940px;
	margin: 0 10px 40px 10px;
}

.header-mid-title {
	width: 195px;
	margin: 0 0 0 55px;
}

.header-tel {
	display: block;
	width: 270px;
	text-align: center;
}

.user-menu {
	display: flex;
	justify-content: space-between;
	width: 280px;
	list-style: none;
	margin: 0;
	margin-bottom: auto;
	padding: 0;
}

.user-menu-btn {
	display: block;
	margin-left: 10px;
	padding: 0 25px;
	background-color: #ffffff;
}

.header-bot {
	display: flex;
	justify-content: center;
	width: 940px;
	margin: 0 10px;
}

.main-nav {
	display: flex;
	width: 100%;
}

.main-nav ul {
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-nav-item {
	width: 100%;
}

.main-nav-item a {
	display: block;
	width: inherit;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 410px;
}

.categories {
	display: flex;
	padding-top: 60px;
	width: 940px;
	margin: 0 10px;

}

.categories-list-leftcol {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 620px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.categories-list-rightcol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	min-height: 410px;
	margin: 0;
	margin-left: auto;
	padding: 0;
}

.categories-item {
	flex-basis: 300px;
	height: 125px;
	margin-bottom: 20px;
}

.categories-item-materials {
	background-color: #ffbf47;
	margin-right: auto;
}

.categories-item-tools {
	background-color: #3bbce3;
}

.categories-item-machines {
	background-color: #dc91d8;
}

.categories-item-sale {
	background-color: #8ed78f;
}

.categories-item-delivery {
	background-color: #ffc047;
}

.categories-slider {
	flex-grow: 1;
	min-height: 265px;
	width: 100%;
	margin-top: 0;
	background-color: black;
}

.popular-goods {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.popular-goods-intro {
	display: flex;	
	min-height: 90px;
	background-color: #f9f5f0;
}

.popular-goods-title {
	margin: auto;
	margin-left: 30px;
}

.popular-goods-all {
	margin: auto;
	margin-right: 25px;
	width: 250px;
	padding: auto;
	text-align: center;
	line-height: 38px;
}

.popular-goods-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.popular-goods-item {
	display: flex;
	flex-direction: column;
	align-items: center; 
	width: 220px;
	min-height: 318px;
	border: solid 1px #eaeaea;
}

.popular-goods-item h3 {
	width: 157px;
	text-align: center;
}

.goods-old-price {
	display: inline-block;
	height: 15px;
	margin-bottom: 10px;
}

.popular-goods-price {
	display: block;
	position: relative;
	height: 38px;
	width: 120px;
	text-align: center;
	line-height: 38px;
	margin-bottom: 20px;
}

.popular-goods-price::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: -38px;
	width: 0;
	height: 0;
	border: 19px solid transparent;
	border-left: 19px solid #ff3333;
}

.popular-brands {
	display: flex;
	flex-direction: column;
}

.popular-brands-intro {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.popular-brands-title {
	margin: auto;
	margin-left: 30px;
}

.popular-brands-all {
	margin: auto;
	margin-right: 25px;
	width: 250px;
	padding: auto;
	text-align: center;
	line-height: 38px;
}

.popular-brands-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-brands-item {
	display: block;
	min-width: 218px;
	min-height: 143px;
	margin: 10px auto;
	border: solid 1px #eaeaea;
}

.popular-brands-item a {
	display: flex;
	width: 100%;
	height: 100%;
}

.popular-brands-item img {
	margin: auto;
}
/*-----------end of index.html-----------*/

.breadcrumbs-main a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-filter-title,
.catalog-filter-submit {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filter-price legend,
.catalog-filter-brand legend,
.catalog-filter-power legend {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.catalog-filter-price label,
.catalog-filter-brand label,
.catalog-filter-power label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 20px;
}

.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter input[disabled]+label,
.catalog-filter input[disabled]+label {
  opacity: 0.4;
}

.catalog-item {
  position: relative;
}

.catalog-item-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
}

.catalog-item-popup a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 18px;
}

.catalog-item-popup-buy {
  background-color: #63a63e;
  color: #ffffff;
}

.catalog-item-popup-buy:hover,
.catalog-item-popup-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-popup-buy:active {
  background-color: #518534;
}

.catalog-item-popup-bookmarks {
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

.catalog-item-popup-bookmarks:hover,
.catalog-item-popup-bookmarks:focus {
  border-color: #32425c;
}

.catalog-item-popup-bookmarks:active {
  opacity: 0.3;
}
