@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
    url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold Italic'),
    url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Italic'),
    url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.primary-btn {
	display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.primary-btn:hover {
  background-color: #ca2c37;
}

.primary-btn:active,
.primary-btn:focus {
  background-color: #ba2732;
}

.header-logo,
.footer-logo {
  min-width: 220px;
  min-height: 42px;
  text-align: center;
  box-shadow: 0 5px 0 #b52933;
  color: #ffffff;
  background-color: #ee3643;
}

.header-logo img,
.footer-logo img{
  margin-top: 10px;
  color: #ffffff;
  background-color: transparent;
}

.header-logo:hover,
.footer-logo:hover,
.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}


.header-top-search-input {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 45px;
  text-decoration: none;
  background-color: #293449;
  border: none;
}

.header-top-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background-color: #293449;
  border: none;
}

.header-mid-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #ff3333;
  line-height: 23px;
}

.header-tel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #ff3333;
  background-color: inherit;
  line-height: 40px;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.user-menu-btn a,
.user-menu-btn a:visited,
.user-profile,
.user-menu-profile {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 45px;
}

.login-enter:hover,
.login-reg:hover,
.login-enter:focus,
.login-reg:focus {
  color: #ee3643;
}

.login-enter:active,
.login-reg:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-adress {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 24px;
}

.user-menu-orders,
.user-menu-control-panel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 24px;
  text-decoration: underline;
}

.user-menu-orders:hover,
.user-menu-orders:focus,
.user-menu-control-panel:hover,
.user-menu-control-panel:focus {
  color: #ee3643;
}

.user-menu-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-nav-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 55px;
}

.main-nav-item {
  background-color: #32425c;
}

.main-nav-item:hover,
.main-nav-item:focus {
  background-color: #293449;
}

.main-nav-item:active a {
  color: rgba(255, 255, 255, 0.5);
}

.categories-item h3 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  line-height: 30px;
}

.categories-item-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-goods-title,
.popular-brands-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-goods-item h3,
.catalog-item-title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 20px;
}

.popular-goods-price,
.catalog-item-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.goods-old-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 18px;
}

.service-headline,
.about-company-title,
.about-contacts-title,
.catalog-name {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.service-title,
.service-slider-description p,
.about-company-description,
.about-company-propose,
.about-contacts-description {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 24px;
}

.service-slider-description span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  text-transform: uppercase;
  line-height: 36px;
}

.partners-list-item {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 20px;
}

.footer-nav-item a,
.footer-proposal-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.footer-mid-adress,
.footer-mid-tel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;  
}

.footer-nav-item a {
  color: #ffffff;
}

.footer-proposal-item a {
  color: #ffcc99;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus,
.footer-proposal-item a:hover,
.footer-proposal-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-proposal-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-copyright,
.footer-mail,
.footer-academy {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  line-height: 18px;
}

.footer-socials a:hover,
.footer-socials a:focus,
.footer-socials a:active {
  background-color: #ee3643;
}

.footer-mail a,
.footer-academy a {
  color: #ffcc99;
  text-decoration: none;
}

.footer-mail a:hover,
.footer-academy a:hover,
.footer-mail a:focus,
.footer-academy a:focus {
  text-decoration: underline;
}

.footer-mail a:focus,
.footer-academy a:focus {
  text-decoration: none;
  color: #ee3643;
}

.header-top {
  min-height: 45px;
  justify-content: center;
  background-color: #293449;
}

.header-top .container {
  display: flex;
}

.header-top-btn {
  position: relative;
  min-width: 150px;
}

.header-top-btn:hover {
  background-color: #212a3a;
}

.header-top-btn:active,
.header-top-btn:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top-search {
  position: relative;
  min-width: 270px;
}

.header-top-search-submit {
  position: absolute;
  order: 1;
  top: 30%;
  left: 17px;
  width: 18px;
  height: 18px;
  border: none;
  background: url(../img/icon-search.svg) no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.header-top-search-input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 48px;
}

.header-top-search-input::placeholder {
  color: white;
  opacity: 1;
}

.header-top-search-input:hover {
  background-color: #212a3a;
}

.header-top-search > .header-top-search-input:focus {
  background-color: #ffffff;
  outline: none;
  color: #000000;
}

.header-top-search-input:focus + .header-top-search-submit {
  background: url(../img/icon-search-red.svg) no-repeat;
  opacity: 1;
 }

.btn-bookmarks::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 10px;
  width: 18px;
  height: 18px;
  background: url(../img/icon-bookmark.svg) no-repeat;
  opacity: 0.3;
}

.btn-cart::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 17px;
  width: 18px;
  height: 18px;
  background: url(../img/icon-cart.svg) no-repeat;
    opacity: 0.3;
}

.btn-bookmarks:active::before,
.btn-cart:active::before {
  opacity: 0.5;
}

.btn-cart-filled {
  background-color: #ee3643;
}

.btn-order {
  background-color: #63a63e;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}

.header-mid {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #f3f7f9;
}

.header-mid-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.header-mid-title {
  width: 195px;
  margin: 0 0 0 55px;
}

.header-tel {
  display: block;
  position: relative;
  width: 270px;
  text-align: center;
}

.header-tel::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 15px;
  width: 19px;
  height: 19px;
  background: url(../img/icon-phone.svg) no-repeat;
}

.header-adress {
  margin: 0;
  margin-top: 10px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  list-style: none;
  margin: 0;
  margin-bottom: auto;
  padding: 0;
}

.user-menu-btn {
  display: block;
  background-color: #ffffff;
}

.login-enter a {
  display: block;
  position: relative;
  height: 45px;
  width: 70px;
  padding-left: 50px;
}

.login-enter a::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 17px;
  width: 20px;
  height: 17px;
  background: url(../img/icon-login.svg);
}

.user-menu a:hover {
  color: #ee3643;
}

.user-menu a:active {
  color: #cacaca;
}

.login-enter a:hover::before {
  background: url(../img/icon-login-active.svg);
}

.login-enter a:active::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 17px;
  width: 20px;
  height: 17px;
  background: url(../img/icon-login.svg);
}

.login-reg a {
  display: block;
  height: 45px;
  width: 126px;
  padding-left: 24px;
}

.header-bot {
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
}

.main-nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 5px solid #293449;
  list-style: none;
}

.main-nav-item {
  width: 100%;
}

.main-nav-item a {
  display: block;
  width: inherit;
  text-align: center;
}

.categories {
  display: flex;
  padding-top: 60px;
  margin-bottom: 53px;
}

.categories .container {
  display: flex;
  min-height: 409px;
}

.categories-list-wrap {
  display: flex;
}

.categories-list-leftcol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-list-rightcol {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.categories-item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.categories-item:last-child {
  margin-bottom: 0;
}

.categories-item h3 {
  margin: 22px 0 21px 24px;
}

.categories-item::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 123px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.categories-item-btn {
  display: block;
  padding: 10px 0;
  width: 135px;
  margin-left: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.categories-item-btn:hover,
.categories-item-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.categories-item-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-item-materials {
  background-color: #ffbf47;
}

.categories-item-materials::after {
  background-image: url(../img/icon-1.svg);
}

.categories-item-tools {
  background-color: #3bbce3;
  margin-left: 20px;
}

.categories-item-tools::after {
  background-image: url(../img/icon-2.svg);
}

.categories-item-machines {
  background-color: #dc91d8;
}

.categories-item-machines::after {
  background-image: url(../img/icon-3.svg);
}

.categories-item-sale {
  background-color: #8ed78f;
}

.categories-item-sale::after {
  background-image: url(../img/icon-4.svg);
}

.categories-item-delivery {
  background-color: #ffc047;
}

.categories-item-delivery::after {
  background-image: url(../img/icon-5.svg);
}

.categories-slider {
  position: relative;
  overflow: hidden;
  height: 266px;
  width: 620px;
  margin-top: 0;
  background-color: black;
}

.categories-slider-slide {
  position: relative;
  width: 620px;
  height: 266px;
  padding-left: 25px;
  padding-top: 26px;
}

.categories-slider-slide-1 {
  background: url(../img/promo-slider-slide1_620x266.jpg) no-repeat;
}

.categories-slider-slide-2 {
  background: url(../img/promo-slider-slide2_620x266.jpg) no-repeat;
}

.categories-slider-slide b {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
}

.categories-slider-slide-1 p,
.categories-slider-slide-2 p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin: 0;
  margin-top: 11px;
}

.categories-slider-slide a {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
  padding: 14px 0;
  margin-top: auto;
  margin-bottom: 22px;
  text-align: center;
}

.categories-slider-toggle-1 {
  position: absolute;
  bottom: 35px;
  left: 300px;
}

.categories-slider-toggle-2 {
  position: absolute;
  bottom: 35px;
  left: 320px;
}

.categories-slider-btn {
  position: absolute;
  top: 115px;
  width: 22px;
  height: 22px;
  border: none;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  background: transparent;
  padding: 0;
}

.categories-slider-btn-prev {
    left: 20px;
  transform: rotatez(45deg);
}

.categories-slider-btn-next {
  right: 20px;
  transform: rotatez(-135deg);
}

.popular-goods-intro {
  display: flex;
  min-height: 90px;
  margin-top: 0;
  background-color: #f9f5f0;
}

.popular-goods-title {
  margin: auto;
  margin-left: 30px;
}

.popular-goods-all {
  margin: auto;
  margin-right: 25px;
  width: 250px;
  padding: auto;
  text-align: center;
  line-height: 38px;
}

.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-goods-item,
.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
}

.popular-goods-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.item-new {
  overflow: hidden;
}

.item-new::before {
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  content: 'new';
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -20px;
  height: 22px;
  padding: 0 30px;
  color: #ffffff;
  background-color: #ee3643;
  transform: rotate(45deg);

}

.popular-goods-item:nth-child(4n) {
  margin-right: 0;
}

.popular-goods-item h3,
.catalog-item h3 {
  width: 157px;
  text-align: center;
}

.goods-old-price {
  display: inline-block;
  height: 15px;
  margin-bottom: 10px;
}

.popular-goods-price,
.catalog-item-price {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px 20px 12px 36px;
  margin-bottom: 20px;
}

.popular-goods-price::after,
.catalog-item-price::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-left: 19px solid #ee3643;
}

.popular-goods-price:hover::after,
.catalog-item-price:hover::after,
.popular-goods-price:focus::after,
.catalog-item-price:focus::after {
  border-left-color: #ca2c37;
} 

.popular-goods-price:active::after,
.catalog-item-price:active::after {
  border-left-color: #ba2732;
} 

.popular-brands-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popular-brands-title {
  margin: auto;
  margin-left: 30px;
}

.popular-brands-all {
  margin: auto;
  margin-right: 25px;
  width: 250px;
  padding: auto;
  text-align: center;
  line-height: 38px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-brands-item {
  display: block;
  min-width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: solid 1px #eaeaea;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.3;
}

.popular-brands-item:nth-child(4n){
  margin-right: 0;
}

.popular-brands-item a {
  display: flex;
  width: 100%;
  height: 100%;
}

.popular-brands-item img {
  margin: auto;
}

.service {
  padding-top: 1px;
  padding-bottom: 100px;
  background-color: #f4f8fa;
}

.service-title {
  width: 400px;
  margin-bottom: 75px;
}

.service-slider {
  display: flex;
	position: relative;
}

.slider-btns {
	display: flex;
	position: relative;
	flex-direction: column;
	flex-shrink: 0;
	width: 240px;
	margin-right: 80px;
}

.slider-btns::after {
	content: '';
	display: block;
	position: absolute;
	top: -35px;
	right: 0;
	width: 10px;
	height: 272px;
	background-image: url(../img/slider-btns-shadow_10x272.png);
	border-image-repeat: no-repeat;
}

.service-slider input {
	display: none;
}

.service-slider-btn {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 65px;
	height: 62px;
	padding-left: 22px;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	background-color: #32425c;
	color: #ffffff;
  cursor: pointer;
}

.service-slider-btn:hover {
  background-color: #293449;
}

.service-slider-description {
	display: none;
}

.service-slider-description span {
	margin-bottom: 30px;
}

.service-slider-description p {	
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.service-slider-delivery p {
	width: 275px;	
}

.service-slider-delivery::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 468px;
	height: 261px;
	background-image: url(../img/delivery_468x261.png);
	background-image: no-repeat;
}

.service-slider-warranty p {
	width: 380px;
}

.service-slider-warranty::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 389px;
	height: 283px;
	background-image: url(../img/warranty_389x283.png);
	background-image: no-repeat;
}

.service-slider-credit p {
	width: 280px;
  margin-bottom: 30px;
}

.credit-btn {	
	width: 195px;
	line-height: 38px;
	text-align: center;
}

.service-slider-credit::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 465px;
	height: 285px;
	background-image: url(../img/credit_465x285.png);
	background-image: no-repeat;
}

#delivery:checked ~ .slider-btns label[for="delivery"] {
	background-color: #ffffff;
	color: #32425c;
	border: none;
	border-top: 1px solid #ffffff;
}

#warranty:checked ~ .slider-btns label[for="warranty"] {
	background-color: #ffffff;
	color: #32425c;
	border: none;
	border-top: 1px solid #ffffff;
}

#credit:checked ~ .slider-btns label[for="credit"] {
	background-color: #ffffff;
	color: #32425c;
	border: none;
	border-bottom: 1px solid #ffffff;
}

#delivery:checked ~ .service-slider-delivery {
  display: block;
}

#warranty:checked ~ .service-slider-warranty {
  display: block;
}

#credit:checked ~ .service-slider-credit {
  display: block;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.about-company {
  display: flex;
  flex-direction: column;
}

.about-us .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 80px;
  margin-bottom: 85px;
}

.about-company-title,
.about-contacts-title {
  margin-bottom: 38px;
}

.about-company-description {
  width: 520px;
  margin: 0;
  margin-bottom: 25px;
}

.about-company-propose {
  width: 390px;
  margin: 0;
  margin-bottom: 30px;
}

.partners-list {
  margin: 0;
  margin-left: 35px;
  margin-bottom: 26px;
  padding: 0;
  list-style: none;
}

.partners-list-item {
  position: relative;
  margin: 12px 0;
}

.partners-list-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left:-35px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-company-btn {
  line-height: 38px;
  text-align: center;
  width: 220px;
}

.about-contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-contacts-description {
  width: 180px;
  margin: 0;
  margin-bottom: 35px;
}

.about-contacts-map {
  margin-bottom: 40px;
}
.about-contacts-btn {
  line-height: 38px;
  text-align: center;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-nav {
  margin-left: auto;
  align-self: center;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-mid  {
  display: flex;
  padding-bottom: 50px;
  background-color: #32425c;
}

.footer-mid-adress {
  margin: 0;
  width: 330px;
}

.footer-proposal-list {
  display: flex;
  justify-content: space-between;
  width: 525px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;  
}

.footer-bot {
  width: 100%;
  background-color: #293449;
}

.footer-bot .container {
  display: flex;
}

.footer-copyright {
  width: 230px;
}

.footer-socials {
  display: flex;
  margin-left: 150px;
  margin-right: auto;
}

.footer-socials a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-socials-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-socials-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-socials-instagram {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-mail {
  width: 140px;
}

.footer-academy {
  width: 110px;
  margin-left: 50px;
}

/*-----------end of index.html-----------*/
.user-menu-logged {
  display: flex;
  min-width: 300px;
  background-color: #ffffff;
}

.user-menu-profile::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 18px;
  background: url(../img/icon-user.svg);
}

.user-menu-profile:hover::before {
background: url(../img/icon-user-active.svg);
}

.user-menu-profile:active::before {
background: url(../img/icon-user.svg);
}

.user-menu-profile {
  position: relative;
  max-width: 195px;
  min-height: 45px;
  padding-left: 48px;
}

.user-logout {
  display: block;
  width: 20px;
  height: 17px;
  margin: 14px 10px 14px auto;
  background: url(../img/icon-logout.svg);
}

.user-logout:hover {
  background: url(../img/icon-logout-active.svg);
}

.user-logout:active {
  background: url(../img/icon-logout.svg);
}

.user-menu-orders {
  position: relative;
  margin-top: 10px;
  margin-left: 19px;
}

.user-menu-orders::after {
  content: '';
  position: absolute;
  top:10px;
  right:-16px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-menu-control-panel {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
}

.breadcrumbs-main {
  display: flex;
  margin: 0;
  padding: 25px 0;
  list-style: none;
}

.breadcrumbs-main li {
  display: block;
  position: relative;
  margin-right: 38px;
}

.breadcrumbs-main li::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  right: -24px;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-main li:last-child::after {
  display: none;
}

.breadcrumbs-main-index {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
}
.breadcrumbs-home-icon {
  width: 0;
  height: 0;
  font-size: 0;
}

.breadcrumbs-main-index::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.breadcrumbs-main a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-name {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 30px;
  background-color: #f2f6f8;
}

.catalog-filter {
  display: flex;
  width: 220px;
  margin-right: 20px;
}

.catalog-filter-title {
  width: 202px;
  padding: 11px 0 11px 18px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-sort {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  padding: 11px 0 11px 18px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-sort a {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.catalog-sort a:hover,
.catalog-sort a:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-sort-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 110px;
  width: 354px;
}

.catalog-sort a:active {
  color: #ee3643;
  border: none;
}

.catalog-sort-up::before,
.catalog-sort-down::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 1px solid transparent;
  border-top: 12px solid transparent;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 0, 0.3);
}

.catalog-sort a:hover::before,
.catalog-sort a:focus::before {
  border-bottom: 12px solid rgba(0, 0, 0, 1);
}

.catalog-sort a:active::before {
  border-bottom: 12px solid rgba(238, 54, 67, 1);
}

.catalog-sort-up::before {
  top: -6px;
  right: 60px;
}

.catalog-sort-down::before {
  top: 6px;
  right: 20px;
  transform: rotateX(180deg);
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}

.catalog-filter-price input {
  margin-bottom: 25px;
}

.catalog-filter fieldset {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter legend {
  margin-bottom: 25px;
}

.catalog-filter-brand input[type="checkbox"],
.catalog-filter-power input[type="radio"] {
  display: none;
}

.catalog-filter-brand label {
  position: relative;
  padding-left: 34px;
  margin-bottom: 28px;
}

.catalog-filter-brand input[type="checkbox"]+label::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.catalog-filter-brand input[type="checkbox"]:checked + label::before {  
  background-image: url(../img/checkbox-on.svg);
}

.catalog-filter .catalog-filter-power {
  border: none;
}

.catalog-filter-power label {
  position: relative;
  padding-left: 34px;
  margin-bottom: 28px;
}

.catalog-filter-power input[type="radio"]+label::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
} 

.catalog-filter-power input[type="radio"]:checked + label::before {  
  background-image: url(../img/radio-on.svg);
}

.catalog-filter-title,
.catalog-filter-submit {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filter-price legend,
.catalog-filter-brand legend,
.catalog-filter-power legend {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.catalog-filter-price label,
.catalog-filter-brand label,
.catalog-filter-power label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 20px;
}

.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter input[disabled]+label,
.catalog-filter input[disabled]+label {
  opacity: 0.4;
}

.catalog-filter-submit {
  width: 138px;
  height: 38px;
  background: none;
  border: 1px solid #e5e5e5;
}

.catalog-goods {
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.catalog-item {
  position: relative;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.catalog-paginator {
  margin-bottom: 60px;
}

.catalog-paginator-page {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  color: black;
}

.catalog-paginator-next {
  padding: 0 30px;
}


.catalog-paginator-page:hover,
.catalog-paginator-page:focus {
  border: 1px solid #bdc6ca;
}

.catalog-paginator-page:active {
  border: 1px solid #ee3643;
}
.catalog-paginator-current-page {
  background-color: #ee3643;
  color: #ffffff;
  border-color: #ee3643;
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
  width: 100%;
  height: 180px;
  background: #ffffff;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.catalog-item-popup a {
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item-popup-buy {
  position: absolute;
  width: 135px;
  line-height: 35px;
  top: 44px;
  left: 42px;
  border-bottom: 3px solid #367315;
  text-align: center;
  background-color: #63a63e;
  color: #ffffff;
}

.catalog-item-popup-buy:hover,
.catalog-item-popup-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-popup-buy:active {
  background-color: #518534;
}

.catalog-item-popup-bookmarks {
  position: absolute;
  width: 135px;
  line-height: 35px;
  top: 89px;
  left: 42px;
  max-width: 131px;
  line-height: 35px;
  text-align: center;
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

.catalog-item-popup-bookmarks:hover,
.catalog-item-popup-bookmarks:focus {
  border-color: #32425c;
}

.catalog-item-popup-bookmarks:active {
  opacity: 0.3;
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-modal-map {
  display: none;
  padding-top: 100px;
}

.popup-map-wrap {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
}

.popup-map-wrap a {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow:  0 5px 45px 0 black;
}

.popup-close-btn-map {
  font-size: 0;
  padding: 0; 
  border: 0;
  cursor: pointer;
}

.popup-close-btn::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  width: 4px;
  height: 31px;
  background-color: red;
  transform: rotateZ(45deg);
}

.popup-close-btn::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  width: 4px;
  height: 31px;
  background-color: red;
  transform: rotateZ(-45deg);
}

.popup-write-us {
  display: none;
  padding-top: 120px;
}

.popup-write-us-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 460px;  
  padding: 48px 80px 0 80px;
  margin: 0 auto;
  border-top: 7px solid #ff5257;
  background: linear-gradient(to bottom, #ffffff,#ffffff 310px, #f4f4f4 310px, #f4f4f4);
}

.popup-write-us label {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 13px;
}

.write-us-name {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  margin-right: 20px;
}

.write-us-name-input {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
  width: 100%;
  padding: 10px 0 10px 14px;
  border: 2px solid #dee3e4;
}

.write-us-mail {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.write-us-mail-input {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
  width: 100%;
  padding: 10px 0 10px 14px;
  border: 2px solid #dee3e4;
}

.write-us-text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 37px;
}

.write-us-text-area {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;
  width: inherit;
  padding: 10px 0 0 14px;
  border: 2px solid #dee3e4;
}

.write-us-submit {
  width: 460px;
  border: none;
  padding: 12px 0;
  margin: 37px 0;
}

.popup-close-btn-write-us {
  font-size: 0;
  border: 0;
  padding: 0;
  margin: 0;
}

.popup-cart {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-cart-notification {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 460px;  
  padding: 0 80px 36px 80px;
  margin: 0 auto;
  border-top: 7px solid #ff5257;
  background: linear-gradient(to bottom, #ffffff,#ffffff 133px, #f4f4f4 133px, #f4f4f4);
}

.popup-cart-notification-headline {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  margin: 66px auto;
}

.popup-cart-notification-headline::before {
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  left: -96px;
  width: 66px;
  height: 66px;
  background: url(../img/icon-mark.svg) no-repeat;
}

.popup-cart-order {
  width: 220px;
  padding: 11px 0;
  margin-right: 20px;
}

.popup-cart-continue {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  width: 220px;
  padding: 11px 0;
  background-color: #ffffff;
  color: #000000;
}