@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum'),
    url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold'),
    url('../fonts/cuprumbold.woff2') format('woff2'),
    url('../fonts/cuprumbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Bold Italic'),
    url('../fonts/cuprumbolditalic.woff2') format('woff2'),
    url('../fonts/cuprumbolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: local('Cuprum Italic'),
    url('../fonts/cuprumitalic.woff2') format('woff2'),
    url('../fonts/cuprumitalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    url('../fonts/ptsans.woff2') format('woff2'),
    url('../fonts/ptsans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'),
    url('../fonts/ptsansbold.woff2') format('woff2'),
    url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.primary-btn {
	display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo,
.footer-logo {
  min-width: 220px;
  min-height: 42px;
  text-align: center;
  box-shadow: 0 5px 0 #b52933;
  color: #ffffff;
  background-color: #ee3643;
}

.header-logo img,
.footer-logo img{
  margin-top: 10px;
  color: #ffffff;
  background-color: transparent;
}

.header-logo:hover,
.footer-logo:hover,
.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}


.header-top-search-input {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 45px;
  text-decoration: none;
  background-color: #293449;
  border: none;
}

.header-top-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background-color: #293449;
  border: none;
}

.header-mid-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #ff3333;
  line-height: 23px;
}

.header-tel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #ff3333;
  background-color: inherit;
  line-height: 40px;
  border: 3px solid #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.user-menu-btn a,
.user-menu-btn a:visited,
.user-profile,
.user-menu-profile {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 45px;
}

.login-enter:hover,
.login-reg:hover,
.login-enter:focus,
.login-reg:focus {
  color: #ee3643;
}

.login-enter:active,
.login-reg:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-adress {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 24px;
}

.user-menu-orders,
.user-menu-control-panel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 24px;
  text-decoration: underline;
}

.user-menu-orders:hover,
.user-menu-orders:focus,
.user-menu-control-panel:hover,
.user-menu-control-panel:focus {
  color: #ee3643;
}

.user-menu-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-nav-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 55px;
}

.main-nav-item {
  background-color: #32425c;
}

.main-nav-item:hover,
.main-nav-item:focus {
  background-color: #293449;
}

.main-nav-item:active a {
  color: rgba(255, 255, 255, 0.5);
}

.categories-item h3 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  line-height: 30px;
}

.categories-item-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-goods-title,
.popular-brands-title {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.popular-goods-item h3,
.catalog-item-title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 20px;
}

.popular-goods-price,
.catalog-item-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.goods-old-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 18px;
}

.service-headline,
.about-company-title,
.about-contacts-title,
.catalog-name {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.service-title,
.service-slider-description p,
.about-company-description,
.about-company-propose,
.about-contacts-description {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 24px;
}

.service-slider-description span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  color: #333366;
  text-transform: uppercase;
  line-height: 36px;
}

.partners-list-item {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 20px;
}

.footer-nav-item a,
.footer-proposal-item a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.footer-mid-adress,
.footer-mid-tel {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #ffffff;  
}

.footer-nav-item a {
  color: #ffffff;
}

.footer-proposal-item a {
  color: #ffcc99;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus,
.footer-proposal-item a:hover,
.footer-proposal-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active,
.footer-proposal-item a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-copyright,
.footer-mail,
.footer-academy {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  line-height: 18px;
}

.footer-socials a:hover,
.footer-socials a:focus,
.footer-socials a:active {
  background-color: #ee3643;
}

.footer-mail a,
.footer-academy a {
  color: #ffcc99;
  text-decoration: none;
}

.footer-mail a:hover,
.footer-academy a:hover,
.footer-mail a:focus,
.footer-academy a:focus {
  text-decoration: underline;
}

.footer-mail a:focus,
.footer-academy a:focus {
  text-decoration: none;
  color: #ee3643;
}

.header-top {
  min-height: 45px;
  justify-content: center;
  background-color: #293449;
}

.header-top .container {
  display: flex;
}

.header-top-btn {
  min-width: 150px;
}

.header-top-btn:hover {
  background-color: #212a3a;
}

.header-top-btn:active,
.header-top-btn:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-top-search {
  position: relative;
}

.header-top-search-submit {
  position: absolute;
  top: 30%;
  left: 17px;
  width: 18px;
  height: 18px;
  border: none;
  background: url(../img/icon-search.svg) no-repeat;
}

.header-top-search-input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 48px;
}

.header-top-search > .header-top-search-input:focus {
  background-color: #ffffff;
  outline: none;
  color: #000000;
}

.btn-cart-filled {
  background-color: #ee3643;
}

.btn-order {
  background-color: #63a63e;
}

.btn-order:hover {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}
.header-top-search {
  min-width: 270px;
}

.header-mid {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #f3f7f9;
}

.header-mid-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.header-mid-title {
  width: 195px;
  margin: 0 0 0 55px;
}

.header-tel {
  display: block;
  width: 270px;
  text-align: center;
}

.header-adress {
  margin: 0;
  margin-top: 10px;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  list-style: none;
  margin: 0;
  margin-bottom: auto;
  padding: 0;
}

.user-menu-btn {
  display: block;
  margin-left: auto;
  background-color: #ffffff;
}

.login-enter a {
  display: block;
  height: 45px;
  width: 70px;
  padding-left: 50px;
}

.login-reg a {
  display: block;
  height: 45px;
  width: 126px;
  padding-left: 24px;
}

.header-bot {
  display: flex;
  justify-content: center;
}

.main-nav {
  display: flex;
  width: 100%;
}

.main-nav ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-item {
  width: 100%;
}

.main-nav-item a {
  display: block;
  width: inherit;
  text-align: center;
}

.categories {
  display: flex;
  padding-top: 60px;
  padding-bottom: 33px;
}

.categories-list-leftcol {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 620px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories-list-rightcol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-height: 410px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.categories-item {
  flex-basis: 300px;
  height: 125px;
  margin-bottom: 20px;
}

.categories-item-materials {
  background-color: #ffbf47;
  margin-right: auto;
}

.categories-item-tools {
  background-color: #3bbce3;
}

.categories-item-machines {
  background-color: #dc91d8;
}

.categories-item-sale {
  background-color: #8ed78f;
}

.categories-item-delivery {
  background-color: #ffc047;
}

.categories-slider {
  flex-grow: 1;
  min-height: 265px;
  width: 100%;
  margin-top: 0;
  background-color: black;
}

.popular-goods-intro {
  display: flex;
  min-height: 90px;
  margin-top: 0;
  background-color: #f9f5f0;
}

.popular-goods-title {
  margin: auto;
  margin-left: 30px;
}

.popular-goods-all {
  margin: auto;
  margin-right: 25px;
  width: 250px;
  padding: auto;
  text-align: center;
  line-height: 38px;
}

.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  f
  list-style: none;
  margin: 0;
  padding: 0;
}

.popular-goods-item,
.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 218px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: solid 1px #eaeaea;
}

.popular-goods-item:nth-child(4n) {
  margin-right: 0;
}

.popular-goods-item h3,
.catalog-item h3 {
  width: 157px;
  text-align: center;
}

.goods-old-price {
  display: inline-block;
  height: 15px;
  margin-bottom: 10px;
}

.popular-goods-price,
.catalog-item-price {
  display: block;
  position: relative;
  text-align: center;
  padding: 12px 20px 12px 36px;
  margin-bottom: 20px;
}

.popular-goods-price::after,
.catalog-item-price::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-left: 19px solid #ee3643;
}

.popular-brands-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.popular-brands-title {
  margin: auto;
  margin-left: 30px;
}

.popular-brands-all {
  margin: auto;
  margin-right: 25px;
  width: 250px;
  padding: auto;
  text-align: center;
  line-height: 38px;
}

.popular-brands-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-brands-item {
  display: block;
  min-width: 218px;
  min-height: 143px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: solid 1px #eaeaea;
}

.popular-brands-item:nth-child(4n){
  margin-right: 0;
}

.popular-brands-item a {
  display: flex;
  width: 100%;
  height: 100%;
}

.popular-brands-item img {
  margin: auto;
}

.service {
  padding-top: 1px;
  padding-bottom: 100px;
  background-color: #f4f8fa;
}

.service-title {
  width: 400px;
  margin-bottom: 75px;
}

.service-slider {
  display: flex;
	position: relative;
}

.slider-btns {
	display: flex;
	position: relative;
	flex-direction: column;
	flex-shrink: 0;
	width: 240px;
	margin-right: 80px;
}

.slider-btns::after {
	content: '';
	display: block;
	position: absolute;
	top: -35px;
	right: 0;
	width: 10px;
	height: 272px;
	background-image: url(../img/slider-btns-shadow_10x272.png);
	border-image-repeat: no-repeat;
}

.service-slider input {
	display: none;
}

.service-slider-btn {
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 65px;
	height: 62px;
	padding-left: 22px;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
	background-color: #32425c;
	color: #ffffff;
}

.service-slider-description {
	display: none;
}

.service-slider-description span {
	margin-bottom: 30px;
}

.service-slider-description p {	
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}

.service-slider-delivery p {
	width: 275px;	
}

.service-slider-delivery::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 468px;
	height: 261px;
	background-image: url(../img/delivery_468x261.png);
	background-image: no-repeat;
}

.service-slider-warranty p {
	width: 380px;
}

.service-slider-warranty::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 389px;
	height: 283px;
	background-image: url(../img/warranty_389x283.png);
	background-image: no-repeat;
}

.service-slider-credit p {
	width: 280px;
  margin-bottom: 30px;
}

.credit-btn {	
	width: 195px;
	line-height: 38px;
	text-align: center;
}

.service-slider-credit::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 465px;
	height: 285px;
	background-image: url(../img/credit_465x285.png);
	background-image: no-repeat;
}

#delivery:checked ~ .slider-btns label[for="delivery"] {
	background-color: #ffffff;
	color: #32425c;
	border: none;
	border-top: 1px solid #ffffff;
}

#warranty:checked ~ .slider-btns label[for="warranty"] {
	background-color: #ffffff;
	color: #32425c;
	border: none;
	border-top: 1px solid #ffffff;
}

#credit:checked ~ .slider-btns label[for="credit"] {
	background-color: #ffffff;
	color: #32425c;
	border: none;
	border-bottom: 1px solid #ffffff;
}

#delivery:checked ~ .service-slider-delivery {
  display: block;
}

#warranty:checked ~ .service-slider-warranty {
  display: block;
}

#credit:checked ~ .service-slider-credit {
  display: block;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.about-company {
  display: flex;
  flex-direction: column;
}

.about-us .container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-bottom: 85px;
}

.about-company-title,
.about-contacts-title {
  margin-bottom: 38px;
}

.about-company-description {
  width: 520px;
  margin: 0;
  margin-bottom: 25px;
}

.about-company-propose {
  width: 390px;
  margin: 0;
  margin-bottom: 30px;
}

.partners-list {
  margin: 0;
  margin-left: 35px;
  margin-bottom: 26px;
  padding: 0;
  list-style: none;
}

.partners-list-item {
  position: relative;
  margin: 12px 0;
}

.partners-list-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left:-35px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-company-btn {
  line-height: 38px;
  text-align: center;
  width: 220px;
}

.about-contacts {
  display: flex;
  flex-direction: column;
}

.about-contacts-description {
  width: 180px;
  margin: 0;
  margin-bottom: 35px;
}

.about-contacts-map {
  margin-bottom: 40px;
}
.about-contacts-btn {
  line-height: 38px;
  text-align: center;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-nav {
  margin-left: auto;
  align-self: center;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-mid  {
  display: flex;
  padding-bottom: 50px;
  background-color: #32425c;
}

.footer-mid-adress {
  margin: 0;
  width: 330px;
}

.footer-proposal-list {
  display: flex;
  justify-content: space-between;
  width: 525px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;  
}

.footer-bot {
  width: 100%;
  background-color: #293449;
}

.footer-bot .container {
  display: flex;
}

.footer-copyright {
  width: 230px;
}

.footer-socials {
  display: flex;
  margin-left: 150px;
  margin-right: auto;
}

.footer-socials a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-socials-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-socials-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-socials-instagram {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-mail {
  width: 140px;
}

.footer-academy {
  width: 110px;
  margin-left: 50px;
}

/*-----------end of index.html-----------*/

.user-menu-profile {
  width: 252px;
  margin-left: auto;
  padding-left: 48px;
}

.user-menu-orders {
  margin-top: 10px;
  margin-left: 19px;
}

.user-menu-control-panel {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: auto;
}

.breadcrumbs-main {
  display: flex;
  margin: 0;
  padding: 25px 0;
  list-style: none;
}

.breadcrumbs-main li {
  display: block;
  position: relative;
  margin-right: 38px;
}

.breadcrumbs-main li::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  right: -24px;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-main li:last-child::after {
  display: none;
}

.breadcrumbs-main-index {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
}
.breadcrumbs-home-icon {
  width: 0;
  height: 0;
  font-size: 0;
}

.breadcrumbs-main-index::before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.breadcrumbs-main a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-name {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 30px;
  background-color: #f2f6f8;
}

.catalog-filter {
  display: flex;
  width: 220px;
  margin-right: 20px;
}

.catalog-filter-title {
  width: 202px;
  padding: 11px 0 11px 18px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-sort {
  padding: 11px 0 11px 18px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.catalog-filter-form {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}

.catalog-filter-price input {
  margin-bottom: 25px;
}

.catalog-filter fieldset {
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filter legend {
  margin-bottom: 25px;
}

.catalog-filter-brand input[type="checkbox"],
.catalog-filter-power input[type="radio"] {
  display: none;
}

.catalog-filter-brand label {
  position: relative;
  padding-left: 34px;
  margin-bottom: 28px;
}

.catalog-filter-brand input[type="checkbox"]+label::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.catalog-filter-brand input[type="checkbox"]:checked + label::before {  
  background-image: url(../img/checkbox-on.svg);
}

.catalog-filter .catalog-filter-power {
  border: none;
}

.catalog-filter-power label {
  position: relative;
  padding-left: 34px;
  margin-bottom: 28px;
}

.catalog-filter-power input[type="radio"]+label::before {
  content: '';
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
} 

.catalog-filter-power input[type="radio"]:checked + label::before {  
  background-image: url(../img/radio-on.svg);
}

.catalog-filter-title,
.catalog-filter-submit {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-filter-price legend,
.catalog-filter-brand legend,
.catalog-filter-power legend {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 30px;
}

.catalog-filter-price label,
.catalog-filter-brand label,
.catalog-filter-power label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  line-height: 20px;
}

.catalog-filter input[type="checkbox"],
.catalog-filter input[type="radio"] {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
}

.catalog-filter input[disabled]+label,
.catalog-filter input[disabled]+label {
  opacity: 0.4;
}

.catalog-filter-submit {
  width: 138px;
  height: 38px;
  background: none;
  border: 1px solid #e5e5e5;
}

.catalog-goods {
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.catalog-item {
  position: relative;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 18px;
}

.catalog-paginator {
  margin-bottom: 60px;
}

.catalog-paginator-page {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 38px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  text-align: center;
  color: black;
}

.catalog-paginator-next {
  padding: 0 30px;
}

.catalog-paginator-page:active,
.catalog-paginator-current-page {
  background-color: #ee3643;
  color: #ffffff;
  border-color: #ee3643;
}

.popup {
  display: none;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.catalog-item:hover .catalog-item-popup {
  display: block;
  width: 100%;
  height: 180px;
  background: #ffffff;
}

.catalog-item-popup a {
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item-popup-buy {
  position: absolute;
  width: 135px;
  line-height: 35px;
  top: 44px;
  left: 42px;
  border-bottom: 3px solid #367315;
  text-align: center;
  background-color: #63a63e;
  color: #ffffff;
}

.catalog-item-popup-buy:hover,
.catalog-item-popup-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-popup-buy:active {
  background-color: #518534;
}

.catalog-item-popup-bookmarks {
  position: absolute;
  width: 135px;
  line-height: 35px;
  top: 89px;
  left: 42px;
  max-width: 131px;
  line-height: 35px;
  text-align: center;
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #63a63e;
  border-radius: 2px;
}

.catalog-item-popup-bookmarks:hover,
.catalog-item-popup-bookmarks:focus {
  border-color: #32425c;
}

.catalog-item-popup-bookmarks:active {
  opacity: 0.3;
}


